<!DOCTYPE html>



    <div class="vd_content-wrapper">
        <div class="vd_container">
            <div class="vd_content clearfix">
                <div class="vd_head-section clearfix">
                    <div class="vd_panel-header">
                        <ul class="breadcrumb">
                            <li><a href="index.php.html">Home</a> </li>
                            <li><a href="pages-custom-product.php.html">Pages</a> </li>
                            <li class="active">Product Management</li>
                        </ul>
                        <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step="5" data-position="left">
                            <div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
                            <div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
                            <div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>

                        </div>
                    </div>
                </div>
                <div class="vd_title-section clearfix">
                    <div class="vd_panel-header">
                        <h1>Edit Product</h1>
                        <small class="subtitle"> Manage : Edit Product</small>
                        <div class="vd_panel-menu hidden-xs">
                            <div class="menu">
                                <div><a href="/Admin/StockManage"><span class="menu-icon mgr-10"><i class="fa fa-search"></i></span>Stock Manage </a></div>
                            </div>
                            <div class="menu">
                                <div> <span class="menu-icon mgr-10"><i class="fa fa-copy"></i></span>Duplicate </div>
                            </div>
                            <div class="menu">
                                <div> <span class="menu-icon mgr-10"><i class="fa fa-money"></i></span>Product Sales </div>
                            </div>
                            <div class="menu">
                                <div> <span class="menu-icon mgr-10"><i class="fa fa-trash-o"></i></span>Delete </div>
                            </div>
                            <div class="menu">
                                <div> <span class="menu-icon mgr-10"><i class="fa fa-support"></i></span>Help </div>
                            </div>

                        </div>
                        
                    </div>
                </div>


                <div class="vd_content-section clearfix" id="ecommerce-product-add">
                    <div class="row">
                        <div class="col-sm-3 col-md-4 col-lg-3">
                            <div class="form-wizard condensed mgbt-xs-20">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class="active"><a href="#tabinfo" data-toggle="tab"> <i class="fa fa-edit append-icon"></i> Edit-Information </a></li>
                                    <li ><a href="#details" data-toggle="tab"> <i class="fa fa-info-circle append-icon"></i> Information </a></li>

                                    <li><a href="#tabprice" data-toggle="tab"> <i class="fa fa-money append-icon"></i> Add Stock </a></li>

                                </ul>
                            </div>
                        </div>
                       
                  

