@page
@model Mediflow.Pages.Chemist.SmsMailModel
@{
}

SMS

<form method="post">
    Mobile No
    <input type="text" id="mobile" name="mobile" />

    Message
    <input type="text" id="sms" name="sms" />

    <input type="submit" vaue="Send" />
</form>